<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>BIGS</title>
	<link rel="stylesheet" type="text/css" href="/static/stocks/style_stockcard.css" />
</head>

<body>
	<div class="login">
		<a href="#">로그인</a>
	</div>

	<div class="box box2">
		<div class="card card1">
			<span>단기 후보주</span>
			{% for stock in stocks1 %}
			<div>
				<h5>종목</h5>
				{% if user.is_ative %}
				<li>종목명: {{stock.name}}</li>
				{% else %}
				<li>종목명: ****</li>
				{% endif %}
				<li>수집정보: {{stock.theme}}</li>
				<li>BIGS 종합점수: {{stock.bigs_score}}</li>
			</div>
			{% endfor %}
		</div>
		<div class="card card2">
			<span>스윙</span>
			{% for stock in stocks2 %}
			<div>
				<h5>종목</h5>
				<li>종목명: {{stock.name}}</li>
				<li>수집정보: {{stock.theme}}</li>
				<li>BIGS 종합점수: {{stock.bigs_score}}</li>
			</div>
			{% endfor %}
		</div>
		<div class="card card3">
			<span>중장기</span>
			{% for stock in stocks3 %}
			<div>
				<h5>종목</h5>
				<li>종목명: {{stock.name}}</li>
				<li>수집정보: {{stock.theme}}</li>
				<li>BIGS 종합점수: {{stock.bigs_score}}</li>
			</div>
			{% endfor %}
		</div>
		<div class="card card4">
			<span>테마주</span>
			{% for stock in stocks4 %}
			<div>
				<h5>종목</h5>
				<li>종목명: {{stock.name}}</li>
				<li>수집정보: {{stock.theme}}</li>
				<li>BIGS 종합점수: {{stock.bigs_score}}</li>
			</div>
			{% endfor %}
		</div>
	</div>
</body>

</html>